body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-page {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  background: #222222;
}

.stylish-color-dark, .stylish-color-dark h5, .stylish-color-dark a {
  background-color: #212121;
  color : white;
}

.map-style, #example-map{
  width: 100%;
  height: 100vh !important;
}

.card-img-top{
  height: 200px;
  width: auto;
}

/* Colors */
.black-text{
  color: black !important;
}

.gradient-background-black {
  background: linear-gradient(90deg, #222222, #333333);
}

.navigation-semi-transparent {
  background : #11111170
}